@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Crimson Text", serif;
  font-size: 40px;
}

.darkBtn {
  padding: 12px 48px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #212529;
}

.container {
  width: 100%;
  max-width: 1175px;
  margin: auto;
}

.hamburger {
  display: none;
}

.hamburger-menu {
  display: none;
  background-color: red;
  position: absolute;
  top: 0;
  width: 100%;
}

header {
  background-color: #74c69d;
  padding-bottom: 80px;
  width: 100vw;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
}
nav img {
  width: 187px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 30px;
  font-size: 20px;
}

.hero {
  display: flex;
  align-items: center;
}
.hero .hero-text {
  width: 40%;
}
.hero .hero-text p {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 25px;
}
.hero .hero-text button {
  padding: 12px 48px;
  color: #212529;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
.hero .hero-text div {
  width: 80%;
}
.hero .hero-text h4 {
  letter-spacing: 5px;
  margin-bottom: 15px;
}
.hero .hero-text h2 {
  margin-bottom: 15px;
}
.hero .hero-image {
  width: 60%;
  display: flex;
  justify-content: end;
}
.hero .hero-image img {
  width: 644px;
}

.partners {
  margin: 60px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.partners h4 {
  color: #74c69d;
  letter-spacing: 8px;
}
.partners p,
.partners h2 {
  color: #212529;
  margin: 16px auto;
}
.partners .partners-text {
  margin-bottom: 55px;
}
.partners p {
  font-size: 20px;
}
.partners .partners-images {
  width: 100%;
  margin-bottom: 55px;
}
.partners .partners-images ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.partners .partners-images ul img {
  width: 152px;
}

.info {
  display: flex;
  align-items: center;
  margin: 60px auto;
}
.info p,
.info h2 {
  color: #212529;
}
.info .info-text {
  width: 40%;
}
.info .info-text h2 {
  margin-bottom: 16px;
}
.info .info-text p {
  margin-bottom: 16px;
  font-size: 16px;
  color: hsla(210, 11%, 15%, 0.5);
}
.info .info-image {
  width: 60%;
  display: flex;
  justify-content: start;
}
.info .info-image img {
  width: 600px;
}
.info .info-image-second {
  width: 60%;
  display: flex;
  justify-content: end;
}
.info .info-image-second img {
  width: 600px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}
.cards .card {
  padding: 20px 40px;
  box-shadow: 3px 4px 12px #212529;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards .card img {
  width: 175px;
  margin-bottom: 19px;
}
.cards .card p {
  color: #212529;
}

footer {
  background-color: #74c69d;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
footer ul li {
  margin-left: 30px;
  font-size: 20px;
}
footer ul img {
  height: 18px;
}

@media screen and (max-width: 600px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
  }
  .hamburger img {
    width: 35px;
  }
  nav ul {
    display: none;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .hero .hero-text {
    width: 100%;
  }
  .hero .hero-image {
    width: 100%;
    justify-content: center;
  }
  .hero .hero-image img {
    width: 100%;
  }
  .container {
    padding-inline: 20px;
  }
  .partners .partners-images ul {
    flex-direction: column;
  }
  .partners .partners-images ul li {
    margin-bottom: 40px;
  }
  .info {
    flex-direction: column-reverse;
  }
  .info .info-text {
    width: 100%;
  }
  .info .info-image {
    width: 100%;
  }
  .info .info-image img {
    width: 100%;
  }
  .info .info-image-second {
    width: 100%;
  }
  .info .info-image-second img {
    width: 100%;
  }
  .info:nth-of-type(2) {
    flex-direction: column;
  }
  .cards {
    flex-direction: column;
  }
  .cards .card {
    margin-bottom: 40px;
  }
  footer div {
    flex-direction: column;
  }
  footer ul {
    margin-bottom: 20px;
  }
}
html,
body {
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */