@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap");
$primary: #74c69d;
$secondary: #212529;
$fontTitle: 40px;
$fontSmall: 16px;
$fontMid: 20px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Crimson Text", serif;
  font-size: $fontTitle;
}

.darkBtn {
  padding: 12px 48px;
  font-size: $fontMid;
  border-radius: 5px;
  border: none;
  background-color: $secondary;
}
.container {
  width: 100%;
  max-width: 1175px;
  margin: auto;
}

.hamburger {
  display: none;
}
.hamburger-menu {
  display: none;
  background-color: red;
  position: absolute;
  top: 0;
  width: 100%;
}

header {
  background-color: $primary;
  padding-bottom: 80px;
  width: 100vw;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;

  img {
    width: 187px;
  }

  ul {
    list-style: none;
    display: flex;

    li {
      margin-left: 30px;
      font-size: $fontMid;
    }
  }
}
.hero {
  display: flex;
  align-items: center;

  .hero-text {
    width: 40%;
    p {
      color: rgba(255, 255, 255, 0.75);
      margin-bottom: 25px;
    }
    button {
      padding: 12px 48px;
      color: $secondary;
      font-size: $fontMid;
      border-radius: 5px;
      border: none;
    }
    div {
      width: 80%;
    }
    h4 {
      letter-spacing: 5px;
      margin-bottom: 15px;
    }
    h2 {
      margin-bottom: 15px;
    }
  }
  .hero-image {
    width: 60%;
    display: flex;
    justify-content: end;
    img {
      width: 644px;
    }
  }
}

.partners {
  margin: 60px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h4 {
    color: $primary;
    letter-spacing: 8px;
  }
  p,
  h2 {
    color: $secondary;
    margin: 16px auto;
  }
  .partners-text {
    margin-bottom: 55px;
  }
  p {
    font-size: $fontMid;
  }
  .partners-images {
    width: 100%;
    margin-bottom: 55px;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      img {
        width: 152px;
      }
    }
  }
}
.info {
  display: flex;
  align-items: center;
  margin: 60px auto;
  p,
  h2 {
    color: $secondary;
  }
  .info-text {
    width: 40%;
    h2 {
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 16px;
      font-size: $fontSmall;
      color: hsla(210, 11%, 15%, 0.5);
    }
  }
  .info-image {
    width: 60%;
    display: flex;
    justify-content: start;
    img {
      width: 600px;
    }
  }
  .info-image-second {
    width: 60%;
    display: flex;
    justify-content: end;
    img {
      width: 600px;
    }
  }
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
  .card {
    padding: 20px 40px;
    box-shadow: 3px 4px 12px $secondary;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 175px;
      margin-bottom: 19px;
    }
    p {
      color: $secondary;
    }
  }
}
footer {
  background-color: $primary;
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    li {
      margin-left: 30px;
      font-size: $fontMid;
    }

    img {
      height: 18px;
    }
  }
}

@media screen and (max-width: 600px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;

    img {
      width: 35px;
    }
  }
  nav {
    ul {
      display: none;
    }
  }
  .hero {
    flex-direction: column-reverse;
    .hero-text {
      width: 100%;
    }
    .hero-image {
      width: 100%;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
  .container {
    padding-inline: 20px;
  }

  .partners {
    .partners-images {
      ul {
        flex-direction: column;
        li {
          margin-bottom: 40px;
        }
      }
    }
  }

  .info {
    flex-direction: column-reverse;
    .info-text {
      width: 100%;
    }
    .info-image {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .info-image-second {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .info:nth-of-type(2) {
    flex-direction: column;
  }
  .cards {
    flex-direction: column;
    .card {
      margin-bottom: 40px;
    }
  }
  footer {
    div {
      flex-direction: column;
    }
    ul {
      margin-bottom: 20px;
    }
  }
}
html,
body {
  overflow-x: hidden;
}
